.register{
   display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-position: center;
    background-color: #111418;
    position: relative;
}

.rinner-box h1{
    color: #f5f5f5;
    margin-bottom: 10px;
    font-size: 30px;
    font-family: "Baloo 2",cursive;
    animation: slideDown 0.8s ease-in-out;
}
.rinner-box h5{
    color: #f5f5f5;
    line-height: 20px;
    margin-bottom: 20px;
    font-family: "Baloo 2",cursive;
    animation: slideDown 0.8s ease-in-out;
}
@keyframes slideDown {
    from{
        opacity: 0;
        transform: translateY(-40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.rinner-box{
  background-color: transparent;
    padding: 45px 50px 20px 50px;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    box-shadow:0px 15px 40px rgba(0,0,0,0.12);
    text-align: center;
    background-color: #1a1f24;
    width: 300px;
    height: 450px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    animation: rzoomIn 0.8s ease-out;
}
@keyframes rzoomIn {
    0% {
        transform:translate(-50%,-50%) scale(0.5);
        opacity: 0;
    }
    70% {
        transform:translate(-50%,-50%) scale(1.08);
        opacity: 1;
    }
    100% {
        transform:translate(-50%,-50%) scale(1);
        opacity: 1;
    }
}

.rinput-box{
    position: relative;
    margin-top: 15px;
    margin-bottom: 2px;
    width: 100%;
}

@keyframes slideLeft {
    from {
        opacity: 0;
        transform: translateX(-40px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.rinput-box label{
    position: absolute;
    top: 10px;
    left: 50px;
    font-family: "Baloo 2",cursive;
    background-color: transparent;
    padding: 0 5px;
    font-size: 18px;
    color: #6f7882;
    pointer-events: none;
}

.rinput-box input{
    width: 100%;
    padding: 12px 15px 12px 50px;
    font-size: 16px;
    font-family: "Baloo 2",cursive;
    color:  #ffffff;
    border-radius: 5px;
    outline: none;
    background-color: #1a1f24;
    margin-bottom: 5px;
    border:  1px solid #6f6969;
    box-sizing:border-box;
}
.rinput-box input:focus{
     border:  1px solid #27d17f;
}
.ricon{
    position: absolute;
    left:15px;
    top:42%;
    transform: translateY(-50%);
    width:20px;
    pointer-events: none;
    filter: brightness(0) invert(0.6);
}
.rinput-box .ricon:focus{
    filter: brightness(0) invert(1);
}



.rinput-box input:focus + label,.rinput-box input:valid+ label{
  top: -8px;
    left: 50px;
    font-size: 12px;
    color: #f5f5f5;
    background-color: #1a1f24;
    transition: all 0.3s ease;
}


   

.register-btn{
    background-color: #27d17f;
    width: 100%;
    color: #ffffff;
    font-family: "Baloo 2",cursive;
    border: none;
    margin-top: 30px;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
@keyframes popButton {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
.register-btn-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: popButton 0.6s ease 0.8s both;
    width:100%;
}
.login-link{
    margin-top: 10px;
    color: #6f7882;
    font-family: "Baloo 2",cursive;
    text-decoration: none;
}
.login-link a{
    color: #2563EB;
    font-weight: bold;  
}
.loginlink{
    text-decoration: none;
    color: inherit;
}

.r-popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.r-popup-content{
   background-color: #27d17f;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
 .r-popup-content p{
   font-size: 18px;
    font-family: "Baloo 2",cursive;
    color: #ffffff;
}